*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1 rem = 10px
}

body {
    box-sizing: border-box;

    max-width: 80rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    margin: 0 auto;

    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to bottom right, #93F9B9, #1D976C);
}
