*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1 rem = 10px
}

body {
    box-sizing: border-box;

    max-width: 80rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    margin: 0 auto;

    background: var(--color-primary);
    background: -webkit-linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    background: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
}
