html, body, pre, code, kbd, samp {
    font-family: 'Press Start 2P', sans-serif;
}

.title {
    font-size: 1.6rem;

    &--small {
        font-size: 1.2rem !important;
    }
}

.subtitle {
    font-size: 1.2rem;
    color: var(--color-gray);

    &--small {
        font-size: 1rem !important;
    }
}

.paragraph {
    font-size: 1.2rem;

    &--small {
        font-size: 1rem;
    }

    &--error {
        padding: 1rem 0;
        text-align: center;
        background-color: var(--color-error);
        color: var(--color-white);
        border-radius: .8rem;
    }
}
