@font-face {
    font-family: "OpenDyslexic";
    src: url("//db.onlinewebfonts.com/t/069a78234df9bc4ebc1af9f119cb4e3c.eot");
    src: url("//db.onlinewebfonts.com/t/069a78234df9bc4ebc1af9f119cb4e3c.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/069a78234df9bc4ebc1af9f119cb4e3c.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/069a78234df9bc4ebc1af9f119cb4e3c.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/069a78234df9bc4ebc1af9f119cb4e3c.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/069a78234df9bc4ebc1af9f119cb4e3c.svg#OpenDyslexic") format("svg");
}

html, body, pre, code, kbd, samp {
    font-family: 'OpenDyslexic', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, label, a, button {
    user-select: all;
}

.title {
    font-size: 2rem;

    &--small {
        font-size: 1.8rem !important;
    }
}

.subtitle {
    font-size: 1.5rem;
    color: #000;

    &--small {
        font-size: 1.3rem !important;
    }
}

.paragraph {
    font-size: 1.2rem;

    &--small {
        font-size: 1rem;
    }

    &--error {
        padding: 1rem 0;
        text-align: center;
        background-color: var(--color-error);
        color: var(--color-white);
        border-radius: .8rem;
    }
}
