.audio-button {
    position: fixed;
    max-width: 95vw;
    right: 0;
    top: 60%;
    margin-top: calc(6rem - 32vh);

    padding: 6px;
    border-radius: 12px;
    border: none;

    background: #8e69d3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9331e4, #8e69d3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9331e4, #8e69d3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    & svg {
        color: var(--color-white);
    }
}
