.class-card {
    display: flex;
    padding: 2rem;

    cursor: pointer;

    &__avatar {
        margin-right: 2rem;
    }

    &__title {
        font-size: 2rem;
    }

    &__subtitle {
        font-size: 1.6rem;
        color: #000;
    }

    &__description {
        font-size: 1.6rem;
        color: #000;
    }

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}
