.container {
    position: relative;
    overflow: hidden;

    padding: 2rem;
    background: var(--color-white);
    border-radius: .6rem;

    &__full {
        width: 100%;
        background: var(--color-gray-light);
        min-height: calc(100vh - 4rem);
        padding: 2rem 2rem 2rem 2rem;
    
        // Ignorar padding do container
        & > .bottom-navigation {
            margin: 0 -2rem;
        }
    }
}
